# PyTorch (with CUDA 11.6)
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
torchaudio==0.13.1+cu116

# Core dependencies
opencv-python
tensorboardX
thop
tqdm
lpips
pyyaml
scikit-image

# Visualization & Profiling
tensorboard
torch-tb-profiler
matplotlib

# Model 
networkx==3.1
timm
einops
